<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DataScience 2K20 Registration</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    
    <style>
      body {
          position: relative; 
      }
      @import url('https://fonts.googleapis.com/css?family=Exo:400,700');
    
    *{
        margin: 0px;
        padding: 0px;
    }
    
    body{
        font-family: 'Exo', sans-serif;
    }
    .context {
        width: 100%;
        position: absolute;
        top:50vh;
    }
    
    .context h1{
        text-align: center;
        color: #fff;
        font-size: 50px;
    }
    
    
    .area{
        background: black;  
        background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
        width: 1450px;
        height:100vh;
        margin-top:-50px;
    }
    
    .circles{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 11%;
        overflow: hidden;
    }
    
    .circles li{
        position: absolute;
        display: block;
        list-style: none;
        width: 20px;
        height: 20px;
        background:rgb(177, 34, 16);
        animation: animate 25s linear infinite;
        bottom: -150px;
        
    }
    
    .circles li:nth-child(1){
        left: 25%;
        width: 80px;
        height: 80px;
        animation-delay: 0s;
    }
    
    
    .circles li:nth-child(2){
        left: 10%;
        width: 20px;
        height: 20px;
        animation-delay: 1s;
        animation-duration: 12s;
    }
    
    .circles li:nth-child(3){
        left: 70%;
        width: 20px;
        height: 20px;
        animation-delay: 4s;
    }
    
    .circles li:nth-child(4){
        left: 40%;
        width: 60px;
        height: 60px;
        animation-delay: 0s;
        animation-duration: 18s;
    }
    
    .circles li:nth-child(5){
        left: 65%;
        width: 20px;
        height: 20px;
        animation-delay: 0s;
    }
    
    .circles li:nth-child(6){
        left: 75%;
        width: 110px;
        height: 110px;
        animation-delay: 3s;
    }
    
    .circles li:nth-child(7){
        left: 35%;
        width: 150px;
        height: 150px;
        animation-delay: 7s;
    }
    
    .circles li:nth-child(8){
        left: 50%;
        width: 25px;
        height: 25px;
        animation-delay: 15s;
        animation-duration: 45s;
    }
    
    .circles li:nth-child(9){
        left: 20%;
        width: 15px;
        height: 15px;
        animation-delay: 2s;
        animation-duration: 35s;
    }
    
    .circles li:nth-child(10){
        left: 85%;
        width: 150px;
        height: 150px;
        animation-delay: 0s;
        animation-duration: 11s;
    }
    @keyframes animate {
    
        0%{
            transform: translateY(0) rotate(0deg);
            opacity: 1;
            border-radius: 0;
        }
    
        100%{
            transform: translateY(-1000px) rotate(720deg);
            opacity: 0;
            border-radius: 50%;
        }
    
    }
    #section1{
        background: black;  
        /* background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);   */
        width:100%;
        height:90vh;
    }
    #section2{
        background: black;  
        /* background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);   */
    }
    .text-with-animation {
      font-size: 4vw;
      text-transform: uppercase;
      text-align: center;
      line-height: 100vh;
      vertical-align: middle;
      animation: main-text-animation 1.7s ease-in-out forwards;
      font-weight: 700;
      color: white;
      overflow: hidden;
      display: block;
      width: 500vw;
      margin-left: -202vw;
      margin-top:-100px;
    }
    
    .cont {
      height: 100vh;
      line-height: 100vh;
      vertical-align: middle;
    }
    
    .subtext-with-animation {
      position: absolute;
      font-size: 3vw;
      text-align: center;
      line-height: 100vh;
      vertical-align: middle;
      top: 0;
      width: 100%;
      font-family: 'Gochi Hand', cursive;
      color: lightgrey;
      letter-spacing: 4px;
      user-select: none;
      overflow: hidden;
      display: block;
      margin-left:-2px;
    }
    
    .subtext-with-animation span:first-of-type {
      position: relative;
      opacity: 0;
      animation: word-animation 0.5s ease-out 1.5s forwards;
    }
    
    .subtext-with-animation span:nth-of-type(2) {
      position: relative;
      opacity: 0;
      animation: word-animation 0.5s ease-out 1.7s forwards;
    }
    
    .cont{
      overflow: hidden;
      margin: 0;
      /* background-color:#010101; */
    }
    
    /* .cont, html {
      width: 100vw;
      max-width: 100vw;
    } */
    @keyframes main-text-animation {
      0% {
        letter-spacing: 25vw;
        word-spacing: 100vw;
        opacity: 0;
      }
      100% {
        letter-spacing: 4px;
        word-spacing: 1vw;
        opacity: 1;
      }
    }
    
    @keyframes word-animation {
      0% {
        top: 10vw;
        opacity: 0;
      }
      100% {
        top: 5vw;
        opacity: 1;
      }
    }
    @import url("https://fonts.googleapis.com/css?family=Luckiest+Guy");
    /* BODY */
    /* body {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      background-color: skyblue;
      background-image: -webkit-linear-gradient(90deg, skyblue 0%, steelblue 100%);
      background-attachment: fixed;
      background-size: 100% 100%;
      overflow: hidden;
      font-family: "Luckiest Guy", cursive;
      -webkit-font-smoothing: antialiased;
    } */
    ::selection {
      background: transparent;
    }
    /* CLOUDS */
    /* .h:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      width: 0;
      height: 0;
      margin: auto;
      border-radius: 100%;
      background: transparent;
      display: block;
      box-shadow: 0 0 150px 100px rgba(255, 255, 255, 0.6),
        200px 0 200px 150px rgba(255, 255, 255, 0.6),
        -250px 0 300px 150px rgba(255, 255, 255, 0.6),
        550px 0 300px 200px rgba(255, 255, 255, 0.6),
        -550px 0 300px 200px rgba(255, 255, 255, 0.6);
    } */
    /* JUMP */
    .h {
      cursor: default;
      position: relative;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100px;
      margin: auto;
      display: block;
      text-align: center;
    }
    
    .h span {
      position: relative;
      top: 20px;
      display: inline-block;
      -webkit-animation: bounce 2s ease infinite alternate;
      font-size: 30px;
      color: #fff;
    }
    
    .h span:nth-child(2) {
      -webkit-animation-delay: 0.1s;
    }
    
    .h span:nth-child(3) {
      -webkit-animation-delay: 0.2s;
    }
    
    .h span:nth-child(4) {
      -webkit-animation-delay: 0.3s;
    }
    
    .h span:nth-child(5) {
      -webkit-animation-delay: 0.4s;
    }
    
    .h span:nth-child(6) {
      -webkit-animation-delay: 0.5s;
    }
    
    .h span:nth-child(7) {
      -webkit-animation-delay: 0.6s;
    }
    
    .h span:nth-child(8) {
      -webkit-animation-delay: 0.2s;
    }
    
    .h span:nth-child(9) {
      -webkit-animation-delay: 0.3s;
    }
    
    .h span:nth-child(10) {
      -webkit-animation-delay: 0.4s;
    }
    
    .h span:nth-child(11) {
      -webkit-animation-delay: 0.5s;
    }
    
    .h span:nth-child(12) {
      -webkit-animation-delay: 0.6s;
    }
    
    .h span:nth-child(13) {
      -webkit-animation-delay: 0.7s;
    }
    
    .h span:nth-child(14) {
      -webkit-animation-delay: 0.8s;
    }
    
    /* ANIMATION */
    @-webkit-keyframes bounce {
      100% {
        top: -20px;
        text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc,
          0 5px 0 #ccc, 0 6px 0 #ccc, 0 7px 0 #ccc, 0 8px 0 #ccc, 0 9px 0 #ccc,
          0 50px 25px rgba(0, 0, 0, 0.2);
      }
    }
    #section3{
      /* background-color:white; */
      height:45vw;
      margin-left:-5px;
      width:101%;
    }
    /* body {
        font-family: sans-serif;
        background-color: #81d4fa;
        font-weight: bold;
    } */
    
    .text-box {
        margin-left: 44vw;
         margin-top: 42vh;
    }
    
    
    #section3{
      background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url("img/1.jpg");
      background-size:cover;
      background-attachment: fixed;
    }
    
    /* html{
      background-color: #6fd3c7;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='12' viewBox='0 0 20 12'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='charlie-brown' fill='%2365cbbd' fill-opacity='0.77'%3E%3Cpath d='M9.8 12L0 2.2V.8l10 10 10-10v1.4L10.2 12h-.4zm-4 0L0 6.2V4.8L7.2 12H5.8zm8.4 0L20 6.2V4.8L12.8 12h1.4zM9.8 0l.2.2.2-.2h-.4zm-4 0L10 4.2 14.2 0h-1.4L10 2.8 7.2 0H5.8z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
       cursor: pointer;
    } */
    
    h4{
      text-align: center; 
      font-family: monospace;
      cursor: pointer;
      color:#fff;
      position:fixed;
      bottom:5px;
      right:5px;
    }
    
    .wrapper{
      position: absolute;
      width: 35%;
      display: block; position:absolute; right:0;
      margin-right:5vw;
    }
    #Do{    
      stroke:yellow;
      fill:yellow;
      stroke-dasharray: 600;
      opacity: 1;
      animation: yellow 3s cubic-bezier(0,0.23,1,.1);
      animation-delay: 0s;
      -moz-animation:yellow 3s cubic-bezier(0,0.23,1,.1); 
      -webkit-animation:yellow 3s cubic-bezier(0,0.23,1,.1) ; 
    }
    
    #Something, .Something{
      fill:#fff;
      stroke-dasharray: 400;
      stroke:#fff;
      opacity: 0;
      animation: white 4s cubic-bezier(0,0.23,1,.1);
      -moz-animation: white 4s cubic-bezier(0,0.23,1,.1); 
      -webkit-animation: white 4s cubic-bezier(0,0.23,1,.1);
      animation-delay: 0.4s;
      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
    }
    
    #Creative, .Creative{
      fill:#FEF202;
      stroke-dasharray: 600;
      stroke:#FEF202;
      opacity: 0;
      animation: yellow 5s cubic-bezier(0,0.23,1,.1);
      -moz-animation:yellow 5s cubic-bezier(0,0.23,1,.1); 
      -webkit-animation:yellow 5s cubic-bezier(0,0.23,1,.1);
      animation-delay: 1s;
      animation-fill-mode: forwards;
    }
    
    
    #EveryDay,.EveryLetters{
      fill:#6FD3C7;
      stroke-dasharray: 600;
      stroke:#6FD3C7;
      opacity: 0;
      animation: green 4s cubic-bezier(0,0.23,1,.1);
      -moz-animation:green 4s cubic-bezier(0,0.23,1,.1); 
      -webkit-animation:green 4s cubic-bezier(0,0.23,1,.1);
      animation-delay: 2s;
      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
      -moz-animation-fill-mode: forwards;
    }
    .EveryDayandBackground{
      fill:#fff;
      opacity: 0;
      animation: everydayBK 4s cubic-bezier(0,0.23,1,.1);
      -moz-animation:everydayBK 4s cubic-bezier(0,0.23,1,.1); 
      -webkit-animation:everydayBK 4s cubic-bezier(0,0.23,1,.1);
      animation-delay: 2s;
      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
      -moz-animation-fill-mode: forwards;
      stroke-dasharray: 850;
      stroke:#fff;
    }
    #LeftDotsAndLines,#RightDotsAndLines{
      fill:#fff;
      stroke-dasharray: 60;
      stroke:#fff;
      opacity: 0;
      animation: lines 5s cubic-bezier(0,0.23,1,.1);
      -moz-animation:lines 5s cubic-bezier(0,0.23,1,.1); 
      -webkit-animation:lines 5s cubic-bezier(0,0.23,1,.1);
      animation-delay: 2s;
      -webkit-animation-fill-mode: forwards;
      -moz-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
    }
    
    #Border{
      fill:#FEF202;
      stroke-dasharray: 1400;
      opacity: 0;
      stroke:#FEF202;
      animation: Border 3s cubic-bezier(0,0.23,1,.1);
      -moz-animation:Border 3s cubic-bezier(0,0.23,1,.1); 
      -webkit-animation:Border 3s cubic-bezier(0,0.23,1,.1);
      animation-delay: 2s;
      -webkit-animation-fill-mode: forwards;
      -moz-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
    }
    
    #QuotationLeft, #QuotationRight {
      fill:#9BF5E9;
      stroke-dasharray: 40;
      opacity: 0;
      stroke:#9BF5E9;
      animation: Quotation 3s cubic-bezier(0,0.23,1,.1);
      -moz-animation: Quotation 3s cubic-bezier(0,0.23,1,.1); 
      -webkit-animation: Quotation 3s cubic-bezier(0,0.23,1,.1) ;
      animation-delay: 3s;
      -webkit-animation-fill-mode: forwards;
      -moz-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
    }
    
    
    
     /* ainmations  */ 
    @keyframes Quotation{
      0%{opacity: 0;
        fill:none;
        stroke-dashoffset: 40;}
      50%{opacity: 10;
        fill:none;
        stroke-dashoffset: 40;}
      50%{
        fill:rgba(255,255,255,0);}
      100%{opacity: 10;
        fill:#9BF5E9;
        stroke-dashoffset: 0;}
    }
    
    
    @keyframes yellow{
      0%{opacity: 0;
        fill:none;
        stroke-dashoffset: 600;}
      50%{opacity: 10;
        fill:none;
        stroke-dashoffset: 600;}
      50%{
        fill:rgba(255,255,255,0);}
      100%{opacity: 10;
        fill:#FEF202;
        stroke-dashoffset: 0;}
    }
    
    @keyframes Border{
      0%{opacity: 0;
        fill:none;
        stroke-dashoffset: 1400;}
      50%{opacity: 10;
        fill:none;
        stroke-dashoffset: 1400;}
      50%{
        fill:rgba(255,255,255,0);}
      100%{opacity: 10;
        fill:#FEF202;
        stroke-dashoffset: 0;}
    }
    
    @keyframes green{
      0%{opacity: 0;
        fill:none;
        stroke-dashoffset: 600;}
      50%{opacity: 10;
        fill:none;
        stroke-dashoffset: 600;}
      50%{
        fill:rgba(255,255,255,0);}
      100%{opacity: 10;
        fill:#6FD3C7;
        stroke-dashoffset: 0;}
    }
    
    @keyframes everydayBK{
      0%{opacity: 0;
        fill:none;
        stroke-dashoffset: 850;}
      50%{opacity: 10;
        fill:none;
        stroke-dashoffset: 850;}
      50%{
        fill:rgba(255,255,255,0);}
      100%{opacity: 10;
        fill:#fff;
        stroke-dashoffset: 0;}
    }
    
    @keyframes white{
      0%{opacity: 0;
        fill:none;
        stroke-dashoffset: 400;}
      50%{opacity: 10;
        fill:none;
        stroke-dashoffset: 400;}
      50%{
        fill:rgba(255,255,255,0);}
      100%{opacity: 10;
        fill:#fff;
        stroke-dashoffset: 0;}
    }
    
    @keyframes lines{
      0%{opacity: 0;
        fill:none;
        stroke-dashoffset: 60;}
      50%{opacity: 10;
        fill:none;
        stroke-dashoffset: 60;}
      50%{
        fill:rgba(255,255,255,0);}
      100%{opacity: 10;
        fill:#fff;
        stroke-dashoffset: 0;}
    }
    .tt{
        position: relative;
        margin-top:10vw;
        color:white;
        font-size:2.5vw;
        font-family: "Aclonica";
        text-align: justify;
        margin-right:40vw;
        margin-left:2vw;
    }
    *, *:before, *:after {
      box-sizing: border-box;
    }
    
    /* html {
      font-size: 100%;
    } */
    
    /* body {
      font-family: acumin-pro, system-ui, sans-serif;
      margin: 0;
      display: grid;
      grid-template-rows: auto 1fr auto;
      font-size: 14px;
      background-color: #f4f4f4;
      align-items: start;
      min-height: 100vh;
    } */
    
    .footer {
      display: flex;
      flex-flow: row wrap;
      padding: 30px 30px 20px 30px;
      color: #2f2f2f;
      background-color: #fff;
      border-top: 1px solid #e5e5e5;
    }
    
    .footer > * {
      flex:  1 100%;
    }
    
    .footer__addr {
      margin-right: 1.25em;
      margin-bottom: 2em;
    }
    
    .footer__logo {
      font-family: 'Pacifico', cursive;
      font-weight: 400;
      text-transform: lowercase;
      font-size: 1.5rem;
    }
    
    .footer__addr h2 {
      margin-top: 1.3em;
      font-size: 15px;
      font-weight: 400;
    }
    
    .nav__title {
      font-weight: 400;
      font-size: 15px;
    }
    
    .footer address {
      font-style: normal;
      color: #999;
    }
    
    .footer__btn {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 36px;
      max-width: max-content;
      background-color: rgb(33, 33, 33, 0.07);
      border-radius: 100px;
      color: #2f2f2f;
      line-height: 0;
      margin: 0.6em 0;
      font-size: 1rem;
      padding: 0 1.3em;
    }
    
    .footer ul {
      list-style: none;
      padding-left: 0;
    }
    
    .footer li {
      line-height: 2em;
    }
    
    .footer a {
      text-decoration: none;
    }
    
    .footer__nav {
      display: flex;
      flex-flow: row wrap;
    }
    
    .footer__nav > * {
      flex: 1 50%;
      margin-right: 1.25em;
    }
    
    .nav__ul a {
      color: #999;
    }
    
    .nav__ul--extra {
      column-count: 2;
      column-gap: 1.25em;
    }
    
    .legal {
      display: flex;
      flex-wrap: wrap;
      color: #999;
    }
      
    .legal__links {
      display: flex;
      align-items: center;
    }
    
    .heart {
      color: #2f2f2f;
    }
    
    @media screen and (min-width: 24.375em) {
      .legal .legal__links {
        margin-left: auto;
      }
    }
    
    @media screen and (min-width: 40.375em) {
      .footer__nav > * {
        flex: 1;
      }
      
      .nav__item--extra {
        flex-grow: 2;
      }
      
      .footer__addr {
        flex: 1 0px;
      }
      
      .footer__nav {
        flex: 2 0px;
      }
    }
    *, *:before, *:after {
      box-sizing: border-box;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
    #mid{
      height:30vw;
    }
    #section41{
      background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url("img/event.png");
      font-size: 12px;
      background-size:cover;
      background-attachment: fixed;
    }
    
    #section4, button, input {
      font-family: 'Montserrat', sans-serif;
      font-weight: 700;
      letter-spacing: 1.4px;
    }
    
    .background {
      display: flex;
      /* min-height: 100vh; */
    }
    
    .con{
      flex: 0 1 700px;
      margin: auto;
      padding: 10px;
    }
    
    .screen {
      position: relative;
      background-color:white;
      border-radius: 15px;
    }
    
    .screen:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 20px;
      right: 20px;
      bottom: 0;
      border-radius: 15px;
      box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
      z-index: -1;
    }
    
    .screen-header {
      display: flex;
      align-items: center;
      padding: 10px 20px;
      background: #4d4d4f;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
    }
    
    .screen-header-left {
      margin-right: auto;
    }
    
    .screen-header-button {
      display: inline-block;
      width: 8px;
      height: 8px;
      margin-right: 3px;
      border-radius: 8px;
      background: white;
    }
    
    .screen-header-button.close {
      background: #ed1c6f;
    }
    
    .screen-header-button.maximize {
      background: #e8e925;
    }
    
    .screen-header-button.minimize {
      background: #74c54f;
    }
    .screen-header-right {
      display: flex;
    }
    .screen-header-ellipsis {
      width: 3px;
      height: 3px;
      margin-left: 2px;
      border-radius: 8px;
      background: #999;
    }
    .screen-body {
      display: flex;
    }
    
    .screen-body-item {
      flex: 1;
      padding: 50px;
    }
    
    .screen-body-item.left {
      display: flex;
      flex-direction: column;
    }
    
    .app-title {
      display: flex;
      flex-direction: column;
      position: relative;
      color: black;
      font-size: 26px;
    }
    
    .app-title:after {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      bottom: -10px;
      width: 25px;
      height: 4px;
      background: black;
    }
    
    .app-contact {
      margin-top: auto;
      font-size: 8px;
      color: #888;
    }
    
    .app-form-group {
      margin-bottom: 15px;
    }
    
    .app-form-group.message {
      margin-top: 40px;
    }
    
    .app-form-group.buttons {
      margin-bottom: 0;
      text-align: right;
    }
    
    .app-form-control {
      width: 100%;
      padding: 10px 0;
      background: none;
      border: none;
      border-bottom: 1px solid #666;
      color: green;
      font-size: 14px;
      text-transform: uppercase;
      outline: none;
      transition: border-color .2s;
    }
    
    .app-form-control::placeholder {
      color: #666;
    }
    
    .app-form-control:focus {
      border-bottom-color: #ddd;
    }
    
    .app-form-button {
      background: none;
      border: none;
      color: black;
      font-size: 14px;
      cursor: pointer;
      outline: none;
      margin: 0.5vw;
    }
    
    .r:hover {
      color: #b9134f;
    }
    
    .s:hover {
      color: green;
    }

    .dribbble {
      width: 20px;
      height: 20px;
      margin: 0 5px;
    }
    
    @media screen and (max-width: 520px) {
      .screen-body {
        flex-direction: column;
      }
    
      .screen-body-item.left {
        margin-bottom: 30px;
      }
    
      .app-title {
        flex-direction: row;
      }
    
      .app-title span {
        margin-right: 12px;
      }
    
      .app-title:after {
        display: none;
      }
    }
    
    @media screen and (max-width: 600px) {
      .screen-body {
        padding: 40px;
      }
    
      .screen-body-item {
        padding: 0;
      }
    }
    .row.heading h2 {
        color: #fff;
        font-size: 52.52px;
        line-height: 95px;
        font-weight: 400;
        text-align: center;
        margin: 0 0 40px;
        padding-bottom: 20px;
        text-transform: uppercase;
    }
    ul{
      margin:0;
      padding:0;
      list-style:none;
    }
    .heading.heading-icon {
        display: block;
    }
    .padding-lg {
      display: block;
      padding-top: 60px;
      padding-bottom: 60px;
    }
    .practice-area.padding-lg {
        padding-bottom: 55px;
        padding-top: 55px;
    }
    .practice-area .inner{ 
         border:1px solid #999999; 
       text-align:center; 
       margin-bottom:28px; 
       padding:40px 25px;
    }
    .our-webcoderskull .cnt-block:hover {
        box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
        border: 0;
    }
    .practice-area .inner h3{ 
        color:#3c3c3c; 
      font-size:24px; 
      font-weight:500;
      font-family: 'Poppins', sans-serif;
      padding: 10px 0;
    }
    .practice-area .inner p{ 
        font-size:14px; 
      line-height:22px; 
      font-weight:400;
    }
    .practice-area .inner img{
      display:inline-block;
    }
    .our-webcoderskull .cnt-block{ 
       float:left; 
       width:100%; 
       background:#fff; 
       padding:30px 20px; 
       text-align:center; 
       border:2px solid #d5d5d5;
       margin: 0 0 28px;
    }
    .our-webcoderskull .cnt-block figure{
       width:148px; 
       height:148px; 
       border-radius:100%; 
       display:inline-block;
       margin-bottom: 15px;
    }
    .our-webcoderskull .cnt-block img{ 
       width:148px; 
       height:148px; 
       border-radius:100%; 
    }
    .our-webcoderskull .cnt-block h3{ 
       color:#2a2a2a; 
       font-size:20px; 
       font-weight:500; 
       padding:6px 0;
       text-transform:uppercase;
    }
    .our-webcoderskull .cnt-block h3 a{
      text-decoration:none;
      color:#2a2a2a;
    }
    .our-webcoderskull .cnt-block h3 a:hover{
      color:#337ab7;
    }
    .our-webcoderskull .cnt-block p{ 
       color:#2a2a2a; 
       font-size:13px; 
       line-height:20px; 
       font-weight:400;
    }
    .our-webcoderskull .cnt-block .follow-us{
      margin:20px 0 0;
    }
    .our-webcoderskull .cnt-block .follow-us li{ 
        display:inline-block; 
      width:auto; 
      margin:0 5px;
    }
    .our-webcoderskull .cnt-block .follow-us li .fa{ 
       font-size:24px; 
       color:#767676;
    }
    .our-webcoderskull .cnt-block .follow-us li .fa:hover{ 
       color:#025a8e;
    }
    
      </style>
</head>

<body>
  {{>header}}  
  <div id="section41" class="container-fluid" style="padding-top:70px;padding-bottom:70px">
    <div class="background">
      <div class="con">
        <div class="screen">
          <div class="screen-header">
            <div class="screen-header-left">
              <div class="screen-header-button close"></div>
              <div class="screen-header-button maximize"></div>
              <div class="screen-header-button minimize"></div>
            </div>
            <div class="screen-header-right">
              <div class="screen-header-ellipsis"></div>
              <div class="screen-header-ellipsis"></div>
              <div class="screen-header-ellipsis"></div>
            </div>
          </div>
          <div class="screen-body">
            <div class="screen-body-item left">
              <div class="app-title">
                <span>Data Science</span>
                <span>2K20</span>
              </div>
              <a href="/eventinfo" class="btn btn-outline-info btn-sm">Know more</a>
              <div class="app-contact">CONTACT INFO : +91 6388406765 (TEAM D.O.T)</div>
            </div>
            <form id="event" action="/cash" method="POST" >
            
            <div class="screen-body-item">
              <div class="app-form">
                <div class="app-form-group">
                  <input class="app-form-control" id="name" type="text"  name="name" placeholder="NAME" required>
                </div>
                <div class="app-form-group">
                  <input class="app-form-control" type="number" id="registeration_no" name="registeration_no" placeholder="Registeration no.">
                </div>
                <input type="hidden" id="amount" name="amount" >
                <div class="app-form-group">
                  <select name="year" id="year" class="custom-select">
                    <option value="" disabled selected>Academic Year</option>
                    <option value="First Year">First Year</option>
                    <option value="Second Year">Second Year</option>
                    <option value="Third Year">Third Year</option>
                    <option value="Fourth Year">Fourth Year</option>
                  </select>
                </div>
                <div class="app-form-group">
                  <input class="app-form-control" id="father" name="father" placeholder="Father name">
                </div>
                <div class="app-form-group">
                  <input class="app-form-control" id="email" name="email" placeholder="EMAIL">
                </div>
                <div class="app-form-group">
                  <input class="app-form-control" type="number" id="contact" name="contact" placeholder="CONTACT NO">
                </div>
                <div class="app-form-group">
                  <input class="app-form-control"  id="branch" name="branch" placeholder="Branch(ex-B.Tech)">
                </div>
                <div class="app-form-group">
                  <input class="app-form-control" id="hostel" name="hostel" placeholder="Hostel">
                </div>
                <div class="app-form-group">
                  <input class="app-form-control" id="key" name="key" placeholder="Enter key Assigned to you">
                </div>
                <div class="app-form-group buttons">
                  <button type="reset" class="app-form-button r">CANCEL</button>
                <button id="rzp-button1" type="submit" class="app-form-button s" >SUBMIT</button>
                </div>
              </div>
            </div>
    
<script>

document.getElementById('rzp-button1').onclick = function(e){

/////validations///////
  if (document.getElementById('name').value==="")
        {
          alert('Please Enter Your Name')
          return false
        }

  if (document.getElementById('registeration_no').value==="")
        {
          alert('Please Enter Your Registration Number')
          return false
        }
  if (document.getElementById('year').value==="")
        {
          alert('Please select Your Academic Year')
          return false
        }
  if (document.getElementById('father').value==="")
        {
          alert('Please Enter Your Father\'s Name')
          return false
        }

          var email=document.getElementById('email')
          var filter = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;

          if (!filter.test(email.value)) 
          {
            alert('Please Enter Your Valid Email Id')
            return false
          }
          
          
  if (document.getElementById('contact').value==="")
        {
          alert('Please Enter Your Contact Number')
          return false
        }
  if (document.getElementById('branch').value==="")
        {
          alert('Please Enter Your Branch')
          return false
        }
  if (document.getElementById('hostel').value==="")
        {
          alert('Please Enter Your Hostel details')
          return false
        }
 if (document.getElementById('key').value==="")
        {
          alert('Please Enter Your Unique Key')
          return false
        }
////////validations////////
    document.getElementById("event").submit()
}
    
</script>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  {{>footer}}
</body>


</html>
